/* Betting System Styles */
.betting-system {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.neon-text {
  color: #0ff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff;
}

.balance-display h5 {
  margin: 10px 0;
}

.betting-controls {
  margin-top: 20px;
}

.betting-controls label {
  margin-right: 10px;
}

.bet-input {
  border: 1px solid #00f;
  border-radius: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 100px;
  text-align: center;
}

.spin-button {
  background: linear-gradient(
    to left,
    rgb(140, 66, 178) 0%,
    rgb(140, 66, 178) 100%
  );
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 130, 0.8);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
}

.spin-button:hover {
  background-color: #e6006d;
  transform: scale(1.05);
}
